header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--blue-300);
}

.headerTitle+strong {
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--purple-600);
}